.rcw-conversation-container>.rcw-header {
    background-color: #212529;
}

.rcw-message>.rcw-client>.rcw-message-text {
    background-color: #212529;
    color: white;
}

@media screen and (max-width: 800px) {
    .rcw-conversation-container .rcw-close-button {
        background-color: #212529 !important;
        top: 15px !important;
    }
}

.rcw-launcher {
    background-color: #212529;
}

