.login-container .card-row {
    height: 70vh;
}

.login-container .card-header {
    background: darkorchid;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.login-container .form-label {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.spinner-border {
    left: 50%;
    position: relative;
    margin-left: -1em;
}