.manage-questions-container {
    padding-top: 3%;
}

.manage-questions-container a {
    text-decoration: none;
}

.manage-questions-table {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y:auto;
}

.non-action-cell {
    cursor: pointer;
}

.action-icon-container {
    text-align: center;
}

.action-icon {
    cursor: pointer;
}

.add-question-button {
    margin-bottom: 15px;
    margin-left: 20px;
}

.manage-questions-table-container {
    border: 1px solid #212529;
    border-radius: 10px !important;
    overflow: hidden;
    padding: 0 !important;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: auto;
}

textarea#desc {
    height: 30vh;
}

.desc-preview-container {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 30vh;
    overflow-y: auto;
    padding: .375rem .75rem;
}

.submit-btn {
    margin-right: 10px;
}

.bottom-btn {
    margin-bottom: 10px;
}