.NavbarBrand {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}


@media screen and (min-width: 768px) {
    .resume-interview-button {
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .resume-interview-button {
        padding-bottom: 10px;
    }
}


