.practice-container-row {
    padding-top: 1%;
    /* height: 700px; */
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .practice-container-row {
        padding-top: 1vh;
    }
    
    .practice-question-body {
        max-height: 40vh !important;
    }
}

.practice-question-body {
    background: #fafafa;
    max-height: 40vh;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    padding-bottom: 1px;
    overflow-y: auto;
}

.practice-question-body h2 {
    display: inline-block;
}

.practice-question-body .badge {
    font-size: 15px;
    vertical-align: middle;
}

.editor-section-container {
    height: 45vh;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .editor-section-container {
        height: 45vh;
    }
}

.lang-selector {
    height: 10%;
}

.ace_editor {
    width: 100% !important;
    overflow-y: auto;
    border-radius: 5px;
    border: 2px solid grey;
    resize: none;
}

.editor-lang-selector {
    margin-bottom: 5px;
}

.container-fluid.practice-container {
    padding-left: 0;
}