.home-question-card {
    margin-bottom: 15px;
    border-radius: 10px !important;
    cursor: pointer;
}

.home-question-card .card-title {
    font-weight: 600 !important;
}

.home-questions-wrapper {
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

.home-questions-wrapper .row {
    margin: auto !important;
}

.questions-difficulty-tabs .nav-item button {
    font-weight: bold;
}